<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Erlang Ecosystem Foundation">
    <meta name="twitter:description" content="Supporting the BEAM Community">
    <meta name="twitter:image" content="https://gdurl.com/ztSu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Erlang Ecosystem Foundation">
    <meta property="og:description" content="Supporting the BEAM Community">
    <meta property="og:url" content="https://erlef.org/">
    <meta property="og:image" content="https://gdurl.com/ztSu">
    <%= csrf_meta_tag() %>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/codemirror.min.css") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/toastui-editor.min.css") %>">
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/datatables.min.css") %>">
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.10.23/datatables.min.js"></script>
 
  
    <%= if Erlef.is_env?(:prod) do %>
      <script async defer data-domain="erlef.org" src="https://stats.erlef.org/js/index.js"></script>
    <% end %>
  </head>

  <body>
    <%= render "header.html", assigns %>
        <%= if flash = Phoenix.Flash.get(@flash, :info) do %>
          <div class="alert alert-info" role="alert">
            <%= raw flash %>
          </div>
      <% end %>

        <%= if flash = Phoenix.Flash.get(@flash, :notice) do %>
          <div class="alert" role="alert">
            <%= raw flash %>
          </div>
      <% end %>

      <%= if flash = Phoenix.Flash.get(@flash, :error) do %>
        <div class="alert alert-danger" role="alert">
          <%= raw flash %>
        </div>
      <% end %>

      <%= if flash = Phoenix.Flash.get(@flash, :success) do %>
        <div class="alert alert-success" role="alert">
          <%= raw flash %>
        </div>
      <% end %>
      <%= unless @conn.request_path == "/" do %>
        <div class="mt-3">
        </div>
      <% end %>
        <%= Map.get(assigns, :inner_layout) || @inner_content %>
    <%= render "footer.html", assigns %>
    <svg height="0" width="0" viewBox="0 0 864 563">
      <defs>
      <clipPath id="myClip" transform="scale(0.001157407407 0.001776198934)" clipPathUnits="objectBoundingBox">
      <path d="M80.14 0h775.738a8 8 0 017.931 9.044l-72.017 547a8 8 0 01-7.931 6.956H8.122a8 8 0 01-7.931-9.044l72.017-547A8 8 0 0180.139 0z" />
      </clipPath>
      </defs>
    </svg>

  </body>
</html>
