<% now = Date.utc_today() %>
<%= for event <- @events  do %>
    <% date = DateTime.to_date(event.start) %>
    <%= if Timex.after?(date, now) do %>
        <p>
        <%  month = Timex.month_name(date.month)
            day = Timex.day_name(Timex.weekday(date))
            year = date.year
        %>
        <a href="/events/<%= event.slug %>"><%= day %>, <%= month %>, <%= date.day %> <%= year %> - <%= event.title %></a>
        </p>
    <% end %>
<% end %>


