<% now = Date.utc_today() %>
<%= for event <- @events  do %>
    <% date = DateTime.to_date(event.start) %>
    <%= if DateTime.compare(date, now) == :gt do %>
        <p>
        <%  month = Calendar.strftime(date, "%B")
            day = Calendar.strftime(date, "%A")
            year = date.year
        %>
        <a href="/events/<%= event.slug %>"><%= day %>, <%= month %>, <%= date.day %> <%= year %> - <%= event.title %></a>
        </p>
    <% end %>
<% end %>


