<div class="py-3">
    <div class="container">
        <h1 class="display-4 font-weight-bold">Academic Papers</h1>
        <p class="lead">
            Papers are organized chronologically. We attempt to
            show the BEAM related tech highlighted for each paper.
        </p>
    </div>
</div>

<%= live_render(@conn, ErlefWeb.AcademicPapersLive, session: %{"academic_papers" => @academic_papers}) %>

<%= render(ErlefWeb.LayoutView, "join_us.html", assigns) %>
