<div class="container">
  <h1>Erlef Slack invite</h1>
  <p>Requesting a slack invite for the Erlef slack workspace requires you are logged in. Already have an account? <a href="/login/init">Log in</a> and then revisit this page or go to your member profile to request a slack invite.
  </p>
  <p>Don't have an account? <a href="https://members.erlef.org/join-us">Join us!</a>
</div>
