<div class="container mb-4">
<div class="row mb-2">
  <div class="col-sm-10">
    <h1>New <%= @working_group.name %> Working Group Report</h1>
  </div>
  <div class="col-md-1 offset-md-1">
    <span>
      <%= link "Back", to: Routes.working_group_path(@conn, :show, @working_group.slug) %>
    </span>
  </div>
</div>

<%= render "form.html", Map.put(assigns, :action, Routes.working_group_report_path(@conn, :create,  @working_group.slug)) %>
</div>
