@import url("https://use.typekit.net/kyy4ydn.css");
@import url("./fullcalendar/core.css");
@import url("./fullcalendar/daygrid.css");
@import url("./fullcalendar/list.css");
@import url("./fullcalendar/bootstrap.css");
@import url("../node_modules/bootstrap-select/dist/css/bootstrap-select.css");


:root {
    --brand-light: #f8f5f6;
    --primary: #9d2653;
}


html,
body {
    font-family: canada-type-gibson, sans-serif;
}

.btn-primary {
    border-color: var(--primary);
    background: var(--primary);
}

.bg-brand-light {
    background: var(--brand-light);
}
