@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url("https://use.typekit.net/kyy4ydn.css");





html,
body {
    font-family: canada-type-gibson, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}



section {
    overflow: hidden;
}


.img-inverted {
    filter: invert(1);
}

.img-align-center {
    transform: translateY(-25%);
}

.font-weight-bold {
    font-weight: 500 !important;
}

.btn-primary {
    border-color: var(--primary);
    background: var(--primary);
}

.btn-primary.active {
    background: #444;
}

.bg-brand-light {
    background: var(--light);
}

.bg-brand {
    background-color: var(--dark);
}

.avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.avatar-large {
    width: 160px;
    height: 160px;
    overflow: hidden;

    background: #444;
}

.clip-svg {
    -webkit-clip-path: url(#myClip);
            clip-path: url(#myClip);
}

.clip-svg-hero {
    position: absolute;
    top: 0;
    z-index: 0;

    height: 100%;
}

.clip-svg-cta {
    position: absolute;
    top: 10%;
    z-index: 0;

    height: 100%;
}

.gradient-mask-right {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gradient-mask-left {
    -webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.right-bleed {
    display: none;
}

.left-bleed {
    display: none;
}

.event-card {
    position: relative;
    z-index: 100;
}

.event-card-image-wrapper {
    width: 8rem;

    flex-shrink: 0;
}

.event-card-image {
    width: auto;
    height: 4rem;
}

.event-card-list-image {
    width: auto;
}


div.blog-post > table { 
   width: 100%;
   border-collapse: collapse;
}

div.blog-post > td, th {
  border: 0.0625rem solid #ddd;
  padding: 0.5rem;
}

div.blog-post tr:nth-child(even){background-color: #f2f2f2;}

div.blog-post tr:hover {background-color: #ddd;}

div.blost-post > th {
  padding-top: 0.725rem;
  padding-bottom: 0.725rem;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

@media (min-width: 768px) {
    .right-bleed {
        left: 0;

        display: block;
        margin-right: calc(-50vw / 2);
        overflow: hidden;
    }

    .left-bleed {
        right: 0;

        display: block;
        margin-left: calc(-50vw / 2);
        overflow: hidden;
    }
}
