@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "../static/vendored/css/bootstrap-toc.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../node_modules/@fullcalendar/common/main.css";
@import "../node_modules/@fullcalendar/bootstrap/main.css";
@import "../node_modules/@yaireo/tagify/src/tagify";
@import "community";
@import "affiliates";
@import "blogs";
@import "post_form";
@import "events";
@import "fellows";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}



section {
    overflow: hidden;
}


.img-inverted {
    filter: invert(1);
}

.img-align-center {
    transform: translateY(-25%);
}

.font-weight-bold {
    font-weight: 500 !important;
}

.btn-primary {
    border-color: var(--primary);
    background: var(--primary);
}

.btn-primary.active {
    background: #444;
}

.bg-brand-light {
    background: var(--light);
}

.bg-brand {
    background-color: var(--dark);
}


nav.navbar { 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.avatar-large {
    width: 160px;
    height: 160px;
    overflow: hidden;

    background: #444;
}

.twitter-avatar {
    overflow: hidden;
}

.clip-svg {
    -webkit-clip-path: url(#myClip);
            clip-path: url(#myClip);
}

.clip-svg-hero {
    position: absolute;
    top: 0;
    z-index: 0;

    height: 100%;
}

.clip-svg-cta {
    position: absolute;
    top: 10%;
    z-index: 0;

    height: 100%;
}

.gradient-mask-right {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gradient-mask-left {
    -webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.right-bleed {
    display: none;
    
    @media (min-width: 768px) {
        left: 0;
        display: block;
        margin-right: calc(-50vw / 2);
        overflow: hidden;
    }
}

.left-bleed {
    display: none;
    
    // The Twitter feed uses this in addition to the join-us section, and we want
    // to avoid touching that. This should later be refactored into something that
    // can be more easily used without worrying about breaking anything. 
    #join & {
        @media (min-width: 768px) {
            display: none;
        }
        
        @media (min-width: 992px) {
            right: 0;
            display: block;
            margin-left: calc(-50vw / 2);
            overflow: hidden;
        }
    }
    
    @media (min-width: 768px) {
        right: 0;
        display: block;
        margin-left: calc(-50vw / 2);
        overflow: hidden;
    }
}

/* TOC plugin css */

nav[data-toggle="toc"] {
    top: 2rem;
}

nav[data-toggle="toc"] .nav-link.active, nav[data-toggle="toc"] .nav-link.active:focus, nav[data-toggle="toc"] .nav-link.active:hover { 
    color: black;
    border-left: 2px solid black;
}

nav[data-toggle="toc"] .nav > li > a:hover,
nav[data-toggle="toc"] .nav > li > a:focus {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid black;
}

@media (max-width: 768px) {
    nav[data-toggle="toc"] {
        top: 4rem;
        margin-bottom: 4rem;
    }

    nav[data-toggle="toc"] .nav .active .nav {
        display: block;
    }

}

code { 
 color: #393434
}

.fc-daygrid-event { 
  cursor: pointer;
}

.all_calendars { 
    background-color: #ffffff;
}

.all_calendars .fc-header-toolbar > .fc-toolbar-chunk:nth-child(1)::before {
    font-size: 1.75em;
    content: 'Agenda';
}

tr.fc-list-day:nth-child(1) > th:nth-child(1) { 
    z-index: 100;
}
 
@media (max-width: 600px) { 
   .all_calendars .fc-header-toolbar > .fc-toolbar-chunk:nth-child(1)::before {
        content: '';
    }
    .fc .fc-toolbar-title { 
        font-size: 1.2em;
    }

    .img-half-size { 
        width: 50%;
    }
}


@media (min-width: 375px) {
    .img-half-size { 
        width: 50%;
    }
}

@media (min-width: 576px) {
    .img-half-size { 
        width: 50%;
    }
}

@media (min-width: 768px) {
    .img-half-size { 
        width: 50%;
    }
}

@media (min-width: 992px) {
    .img-half-size { 
        width: 70%;
    }
}

.borderless { 
    border: none !important;
}

span.help-block {
  display: inline-block;
  margin-top: 0.5em;
  background-color: #ffc107;
  border-radius: 0.2em;
  padding: 0.1em; 
}

.embedded-card div.card-header {  padding: 0.40rem 0.90rem !important };

div.card-body.legend { font-size: 0.9em !important;}

.legend .row { padding-bottom: 0.3em; }

.legend .row:nth-of-type(even) div {
  background-color: #f7f7f7;
}

.legend .row:nth-of-type(odd) div {
    background: #ffffff;
}

label.required:after {
  content:"*";
  color:red;
}
