@import url("https://use.typekit.net/kyy4ydn.css");
@import url("./fullcalendar/core.css");
@import url("./fullcalendar/daygrid.css");
@import url("./fullcalendar/list.css");
@import url("./fullcalendar/bootstrap.css");
@import url("../node_modules/bootstrap-select/dist/css/bootstrap-select.css");


:root {
    --brand-light: #f8f5f6;
    --primary: #9d2653;
}


html,
body {
    font-family: canada-type-gibson, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

a {
    color: var(--primary);
}

.btn-primary {
    border-color: var(--primary);
    background: var(--primary);
}

.bg-brand-light {
    background: var(--brand-light);
}

.bg-brand {
    background-color: var(--primary);
}

.mask {
    position: relative;
}

.mask > div {
    position: relative;
    z-index: 100;
}

.mask::after {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: 0;

    width: 200%;
    height: 100%;

    content: "";

    background-color: #fff;
    background-image: url("/images/hero-mask.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.mask::before {
    position: absolute;
    left: -100vw;

    width: 100vw;
    height: 100%;

    content: "";

    background-color: #fff;
}

.mask-0::after {
    right: 0;
}

.avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.avatar-large {
    width: 160px;
    height: 160px;
    overflow: hidden;

    background: #444;
}

@media (min-width: 768px) {
    .mask::after {
        background-color: transparent;
    }
}
