@import url("https://use.typekit.net/kyy4ydn.css");
@import url("./fullcalendar/core.css");
@import url("./fullcalendar/daygrid.css");
@import url("./fullcalendar/list.css");
@import url("./fullcalendar/bootstrap.css");
@import url("../node_modules/bootstrap-select/dist/css/bootstrap-select.css");


:root {
  --brand-light: #f8f5f6;
  --primary: #0A3A59;
  --dark: #0F1F29;
}


html,
body {
  font-family: canada-type-gibson, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

a {
  color: var(--primary);
}

section {
}

.btn-primary {
  border-color: var(--primary);
  background: var(--primary);
}

.btn-primary.active {
  background: #444;
}

.bg-brand-light {
  background: var(--brand-light);
}

.bg-brand {
  background-color: var(--primary);
}

.bg-dark {
  background: var(--dark) !important;
}

.avatar {
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.avatar-large {
  width: 160px;
  height: 160px;
  overflow: hidden;

  background: #444;
}

.clip-svg {
  -webkit-clip-path: url(#myClip);
  clip-path: url(#myClip);
}

.clip-svg-hero {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 0;
  height: 100%;
}

.gradient-mask-right {
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gradient-mask-left {
  -webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.right-bleed {
  display: none;
}

.left-bleed {
  display: none;
}


@media (min-width: 768px) {
  .right-bleed {
    display: block;
    margin-right: calc(-100vw / 2);
  }

  .left-bleed {
    display: block;
    margin-left: calc(-100vw / 2);
  }
}