@import "custom";
@import "~bootstrap/scss/bootstrap";
@import url("https://use.typekit.net/kyy4ydn.css");
@import "../static/vendored/css/bootstrap-toc.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "community";
@import "blogs";
@import "events";

html,

body {
    font-family: canada-type-gibson, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}



section {
    overflow: hidden;
}


.img-inverted {
    filter: invert(1);
}

.img-align-center {
    transform: translateY(-25%);
}

.font-weight-bold {
    font-weight: 500 !important;
}

.btn-primary {
    border-color: var(--primary);
    background: var(--primary);
}

.btn-primary.active {
    background: #444;
}

.bg-brand-light {
    background: var(--light);
}

.bg-brand {
    background-color: var(--dark);
}

.avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
}

.avatar-large {
    width: 160px;
    height: 160px;
    overflow: hidden;

    background: #444;
}

.twitter-avatar {
    overflow: hidden;
}

.clip-svg {
    -webkit-clip-path: url(#myClip);
            clip-path: url(#myClip);
}

.clip-svg-hero {
    position: absolute;
    top: 0;
    z-index: 0;

    height: 100%;
}

.clip-svg-cta {
    position: absolute;
    top: 10%;
    z-index: 0;

    height: 100%;
}

.gradient-mask-right {
    -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.gradient-mask-left {
    -webkit-mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            mask-image: linear-gradient(270deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.right-bleed {
    display: none;
}

.left-bleed {
    display: none;
}

@media (min-width: 768px) {
    .right-bleed {
        left: 0;

        display: block;
        margin-right: calc(-50vw / 2);
        overflow: hidden;
    }

    .left-bleed {
        right: 0;

        display: block;
        margin-left: calc(-50vw / 2);
        overflow: hidden;
    }
}

/* TOC plugin css */

nav[data-toggle="toc"] {
    top: 2rem;
}

nav[data-toggle="toc"] .nav-link.active, nav[data-toggle="toc"] .nav-link.active:focus, nav[data-toggle="toc"] .nav-link.active:hover { 
    color: black;
    border-left: 2px solid black;
}

nav[data-toggle="toc"] .nav > li > a:hover,
nav[data-toggle="toc"] .nav > li > a:focus {
    color: black;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid black;
}

@media (max-width: 768px) {
    nav[data-toggle="toc"] {
        top: 4rem;
        margin-bottom: 4rem;
    }

    nav[data-toggle="toc"] .nav .active .nav {
        display: block;
    }

}
