.post-form-authors{
  @extend .form-control;

  display: inline-block;
  min-width: 0;
}

.post-form-authors .tagify__input{
  display: none;
}

.post-form-tags{
  @extend .form-control;

  --tag-bg                     : #4CA9E7;
  --tag-hover                  : #1f93e1;
  --tag-text-color             : #FFF;
  --tag-remove-bg              : #c46e6e;
  --tag-remove-button-bg--hover: #6c2d2d;
  --tag-invalid-color          : #000;
  --tag-invalid-bg             :#c46e6e;
}
.post-form-tags .tagify__tag__removeBtn{
  color: #FFF;
}
.post-form-tags .tagify__tag:hover .tagify__tag__removeBtn:hover{
  transform: none;
  opacity: 1;
}