<main role="main" class="container mt-2">
  <div class="row">
    <div class="col-md-12 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title"><%= @post.title %></h2>
        <p class="blog-post-meta">
          <%= byline(@post) %><br />
          Posted in <%= category(@working_group) %>
        </p>
        <%= raw @post.body_html %>
      </div>
    </div>
  </div>
</main>
