    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">About <%= @wg.name %></h4>
        <p class="mb-0"><%= @wg.description %></p>
      </div>
    </aside>

