<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Erlang Ecosystem Foundation">
    <meta name="twitter:description" content="Supporting the BEAM Community">
    <meta name="twitter:image" content="https://gdurl.com/ztSu">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Erlang Ecosystem Foundation">
    <meta property="og:description" content="Supporting the BEAM Community">
    <meta property="og:url" content="https://erlef.org/admin/">
    <meta property="og:image" content="https://gdurl.com/ztSu">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/admin.css") %>"> 
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/codemirror.min.css") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/toastui-editor.min.css") %>">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/datatables.min.css") %>">
    <script src="<%= Routes.static_path(@conn, "/js/admin.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/datatables.min.js") %>"></script>
  </head>

  <body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
      <%= render "header.html", conn: @conn, current_user: @current_user %>
      <%= render "sidebar.html", conn: @conn, current_user: @current_user %>

      <div class="content-wrapper">
        <div class="content-header">
          <div class="container-fluid">
            <%= if flash = Phoenix.Flash.get(@flash, :info) do %>
              <div class="alert alert-info" role="alert">
                <%= raw flash %>
              </div>
            <% end %>

            <%= if flash = Phoenix.Flash.get(@flash, :error) do %>
              <div class="alert alert-danger" role="alert">
                <%= raw flash %>
              </div>
            <% end %>

            <%= if flash = Phoenix.Flash.get(@flash, :success) do %>
              <div class="alert alert-success" role="alert">
                <%= raw flash %>
              </div>
            <% end %>
            <div class="row">
              <div class="col-sm-6">
                <h3><%= view_title(assigns) %></h3>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <% current = current_path_segment(@conn) %>
                  <%= for {part, path} <- bread_crumbs(@conn) do %>
                    <%= if part == current do %>
                      <li class="breadcrumb-item active"><%= breadcrumb_name(part) %></li>
                    <% else %>
                      <li class="breadcrumb-item"><a href="<%= path %>"><%= breadcrumb_name(part) %></a></li>
                    <% end %>
                  <% end %>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="content">
          <div class="container-fluid">
            <%= @inner_content %>
          </div>
        </div>
      </div>

      <aside class="control-sidebar control-sidebar-dark">
        <div class="p-3">
          <h5>Title</h5>
          <p>Sidebar content</p>
        </div>
      </aside>

      <%= render "footer.html", conn: @conn, current_user: @current_user %>

    </div>
    </div>
  </body>
</html>
