<!-- Main Footer -->
<footer class="main-footer d-flex justify-content-between align-items-center p-3 border-top">
  <!-- Default to the left -->
  <div>
    <strong>Copyright &copy; 2018-<%= Date.utc_today.year %> <a href="https://erlef.org">erlef.org</a>.</strong> All rights reserved.
  </div>
  <!-- To the right -->
  <div class="d-none d-sm-inline">
    EEF
  </div>
</footer>
