<div class="row mb-2">
  <div class="col-sm-6">
    <h2>Editing <%= @working_group.name %></h2>
  </div>
  <div class="col-md-1 offset-md-5">
  <span><%= link "Back", to: Routes.admin_working_group_path(@conn, :index), class: "btn btn-primary" %></span>
  </div>
</div>

<%= render "form.html", Map.put(assigns, :action, Routes.admin_working_group_path(@conn, :update, @working_group)) %>


