<div class="py-3">
  <div class="container">
    <h1 class="display-4 fw-medium">Events</h1>
    <p class="lead">
      The EEF participates in many events related to the BEAM Community.
    </p>
  </div>
</div>

<%= live_render(@conn, ErlefWeb.EventsLive, session: %{"events" => @events}) %>

<%= render(ErlefWeb.LayoutView, "join_us.html", assigns) %>
