<%= for list <- Enum.chunk_every(@members, 4) do %>
<div class="d-flex">
  <%= for %{name: name, image: image} <- list do %>
  <div>
    <div class="avatar-large rounded">
      <img class="h-100" src="/images/<%= image %>" alt="<%= name %>">
    </div>
    <%= name %>
  </div>
  <% end %>
</div>
<% end %>